@import '../../assets//styles/variables.scss';

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 44px;
  margin: 0;
  font-size: inherit;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background 0.2s ease,color 0.2s ease, box-shadow 0.2s ease;

  &.btn-default {
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  }

  &.btn-primary {
    color: #fff;
    background: $primary-color;
    box-shadow: 0 4px 14px 0 rgba($color: $primary-color, $alpha: 0.39);

    &:hover {
      background: rgba($color: $primary-color, $alpha: 0.9);
      box-shadow: 0 6px 20px rgba($color: $primary-color, $alpha: 0.23);
    }
  }

  &.btn-success {
    color: #fff;
    background: $success-color;
    box-shadow: 0 4px 14px 0 rgba($color: $success-color, $alpha: 0.39);

    &:hover {
      background: rgba($color: $success-color, $alpha: 0.9);
      box-shadow: 0 6px 20px rgba($color: $success-color, $alpha: 0.23);
    }
  }

  &.btn-warning {
    color: #fff;
    background: $warning-color;
    box-shadow: 0 4px 14px 0 rgba($color: $warning-color, $alpha: 0.39);

    &:hover {
      background: rgba($color: $warning-color, $alpha: 0.9);
      box-shadow: 0 6px 20px rgba($color: $warning-color, $alpha: 0.23);
    }
  }

  &.btn-danger {
    color: #fff;
    background-color: $danger-color;
    box-shadow: 0 4px 14px 0 rgba($color: $danger-color, $alpha: 0.39);

    &:hover {
      background: rgba($color: $danger-color, $alpha: 0.9);
      box-shadow: 0 6px 20px rgba($color: $danger-color, $alpha: 0.23);
    }
  }
}