.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;

  .title {
    font-size: 20px;
  }
  
  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    .icon-back {
      fill: #5c5c5c;
    }

    &:hover {
      .icon-back {
        fill: #333;
      }
    }
  }
}

.wrapper {
  margin: 0 auto;
  width: 560px;
  height: 560px;
  border: 2px solid #888;
  outline: 2px solid #4e4e4e;
  .canvas {
    display: block;
  }
}